* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  color: #2c2c2c;

  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif, roboto;

  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #838080;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  color: #2c2c2c;
}

main {
  display: grid;
  width: 100%;
  height: 100%;
}

.hidden-label {
  driplay: block;
  clip: rect(0,0,0,0);
}

.container {
  padding: 1.5rem;
  display: flex;
  flex-flow: column;
  place-content: center;
  place-items: center;
  gap: 2rem;
}

.button {
  background-color: #94D1BE;
  width: clamp(10rem, 40vw, 18rem);
  height: 2rem;
  border: none;
  border-radius: 0.5rem;

  outline-width: 1px;
  outline-color: #A6E5DA;
  transition: 200ms;
}

.button:hover {
  background-color: #B5E5DD;
}

.error-button:hover {
  background-color: #EF4D4F;
}

.error-button {
  color: #ffffff;
  background-color: #FF3033;
  width: clamp(10rem, 40vw, 18rem);
  height: 2rem;
  border: none;
  border-radius: 0.5rem;

  outline-width: 1px;
  outline-color: #96AFAB;
  transition: 200ms;
}

#form {
  max-width: 19rem;
  position: relative;
  background-color: rgb(255 255 255 / 82%);
  display: grid;
  place-self: center;
  border-radius: 0.8rem;
  box-shadow: 4px 7px 12px rgb(0 0 0 / 71%);
}

.text {
  display: grid;
  gap: 2rem;
}

.text-content {
  display: grid;
  gap: 1.5rem;
}

#title-name {
  font-size: 2.5rem;
  font-family: sans-serif, pacifico;
}

form {
  display: grid;
  gap: 1rem;
}

form input {
  width: clamp(10rem, 40vw, 18rem);
  height: 2rem;
  border: 3px solid #94D1BE;
  border-radius: 0.5rem;
  text-align: center;

  outline-width: 1px;
  outline-color: #96AFAB;

  font-size: 1rem;
}

#image, #image img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.desktop {
  display: none;
}

.mobile {
  display: grid;
}

#image img {
  object-fit: cover;
}

#image.container {
  padding: 0;
}

@media (min-width: 769px) {
  main {
    display: grid;
    grid-template-columns: 1fr clamp(24rem, 40vw, 41rem) 
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: grid;
  }

  #form.container {
    margin: 0;
    width: 60vw;
    max-width: 37rem;
  }

  #form {
    background-color: rgb(255 255 255 / 82%);
    display: grid;
    place-self: center;
    border-radius: 0.8rem;
    width: clamp(10rem,)
    margin: 0 1rem;
    box-shadow: none;
  }


  #image, #image img {
    border-left: 2px solid #94D1BF;
    position: relative;
    z-index: 0;
  }
}
